@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  background: #000000;
  color: #ffffff;
}

body {
  background: #050505;
  color: #fff;
}